.about-us {
	margin-bottom: 150px;
}

.about-us__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 10px;
}

.about-us__wrapper h2 {
	font-size: 24px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 20px;
}
.about-us__wrapper h3 {
	font-size: 55px;
	font-weight: 700;
	font-family: 'Nunito', sans-serif;
	margin-bottom: 38px;
}

.about-us__content {
	display: flex;
	gap: 65px;
}

.about-us__image {
	width: 50%;
	height: 402px;
	border-radius: 24px;
	position: relative;
	background: url('../assets/about-us.jfif') no-repeat center/cover;
}

.about-us__image-eclips-orange {
	position: absolute;
	top: -4%;
	left: -5.5%;
	z-index: -1;
}
.about-us__image-eclips-purple {
	position: absolute;
	bottom: -3%;
	right: -6%;
	z-index: -1;
}

.about-us__text {
	width: 50%;
	padding: 25px 0;
	display: flex;
	flex-direction: column;
}
.about-us__text-list {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	gap: 24px;
	margin-bottom: 24px;
}

.about-us__text-buttons {
	display: flex;
	gap: 25px;
}

.about-us__text-buttons button {
	font-weight: 700;
}

.about-us__button {
	box-shadow: 0px 4px 8px rgba(55, 125, 255, 0.5);
	transition: all 0.2s ease;
}

.about-us__button:hover {
	background-color: inherit;
	box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.5);
	color: #e2e2e2;
}

.about-us__button-special {
	background-color: inherit;
	color: #e2e2e2;
	display: flex;
	align-items: center;
	gap: 10px;
}

.about-us__button-special:hover {
	box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.5);
}
