.dream {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.dream__content {
	margin-bottom: 40px;
}

.dream__title {
	font-family: 'Nunito', sans-serif;
	font-size: 64px;
	font-weight: 800;
	letter-spacing: 1%;
	margin-bottom: 24px;
	line-height: 1.2;
}

.dream__text {
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.2;
	font-weight: 400;
	opacity: 60%;
	margin-bottom: 32px;
}

.dream__button {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #0e0e0e;
	background-color: #e2e2e2;
	box-shadow: 0px 4px 8px rgba(55, 125, 255, 0.5);
	transition: 0.2s ease;
}

.dream__button:hover {
	color: #e2e2e2;
	background-color: #0e0e0e;
}
.dream__image-wrapper {
	padding: 60px 122px;
}
.dream__image {
	width: 739px;
	height: 501px;
	border-radius: 50px;
	position: relative;
	background: url('../assets/dream.jfif') no-repeat center/cover;
}
